html
    head
        link(rel='stylesheet', href='css/index.css')
    body
        div(id='music_controls')
            input(type='text' id='music_search' placeholder='search')

            a(id='album_art_link' target='_blank' href='https://github.com/patrickjennings/plasma-web-server')
                img(id='album_art' src='images/plasma.jpg')

            b(id='artist') Plasma Web Server
            b(id='album')
            b(id='title')

            audio(id='music_player' controls)
                source(id='music_source' type='audio/mpeg')

        div(id='music_content')
            table(id='music_table')
                thead
                    tr
                        th 
                        th Artist
                        th Title
                        th Album
                        th Year
                        th Track
                tfoot
                    tr
                        td(id='music_footer' colSpan=6) Loading
                tbody(id='music_tbody')

        script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(type='text/javascript' src='https://www.google.com/jsapi')
        script(type='text/javascript').
            google.load('search', '1')
        script(type='text/javascript' src='js/index.js')
