tr:nth-child(even) {
    background: #DDD;
}

.current {
    background: #CD5 !important;
}

#music_search {
    float: right;
}

#album_art {
    float: left;
    height: 50px;
}

#music_controls {
    height: 55px;
    text-align: center;
}

#music_content {
    position: fixed;
    overflow-y: scroll;
    height: 90%;
    width: 99%;
}

#music_table {
    width: 100%;
}
