tr:nth-child(even) {
    background: #DDD;
}

.current {
    background: #CD5 !important;
}

#album_art {
    float: left;
    height: 100px;
    margin-right: 5px;
}

#music_controls {
    height: 110px;
}

#music_content {
    position: fixed;
    overflow-y: scroll;
    height: 84%;
    width: 99%;
}

#music_table {
    width: 100%;
    border-collapse: collapse;
}

#artist,#album,#title {
    display: block;
}

a {
    color: #BBB;
    text-decoration: none;
}
